@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');

.grid {
    margin-left: 32px;
    margin-top: 5px;
    
}

.node {
    stroke-width: 0.2;
    stroke: rgba(57, 57, 57, 0.5);
}

.node-finish {
    fill: red;
}

.node-start {
    fill: green;
}

.node-unvisited {
    fill: rgba(255, 255, 255, 0.95);
}

.node-visited {
    animation-name: visitedAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 1;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}
  
@keyframes visitedAnimation {
    0% {
        fill: #089aff;
    }

    20% {
        fill:#05c4df;
    }

    40% {
        fill: #05d694;
    }

    60% {
        fill: #05df5c;
    }

    100% {
        fill: #05df97;
    }  
    
}

.node-wall {
    fill: rgba(27, 27, 27, 0.8);
}

.node-wall:hover {
    fill: rgba(27, 27, 27, 0.85);
}


.sidenav {
    height: 100%;
    width: 205px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    /*
    top: 0;
    left: 0;
    */
    background-color: #111;
    padding-top: 20px;
}

.uibutton {
    width: 150px;
    height: 50px;
    border: 1px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.uiimage {
    width: 35px;
    height: 35px;
    position: relative;
    right: 10px;
    top: 4px;
}

.uitext {
    font-size: 200%;
    text-align: center;
    position: relative;
    font-family: 'Varela', sans-serif;
    bottom: 5px;
    height: 50px;
    left: 2px;
}


.node-path {
    animation-name: pathAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 1;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes pathAnimation {
    0% {
        fill: #6b1c2d;
    }

    20% {
        fill: #801717;
    }

    40% {
        fill: #a01b31;
    }

    60% {
        fill: #e95344;
    }
    80% {
        fill: #f27f44;
    }
    100% {
        fill: #fcb045;
    }
}